@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;

  --primary: #ffffff;
  --secondary: #999999;

  --accent: #7c3aed;

  --max-width: 1440px;

  --radius: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

.container-custom {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 1.5rem;
}